@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}
body {
    background-color: grey;
    font-family: 'Roboto', sans-serif;
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.key {
    border: 1px #000 solid;
    background-color:#f4f4f4;
    display:inline-flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    margin-right: 50px;
    flex-direction: column;
    margin: 10px;
    min-width: 200px;
    position: relative;
}
.key.pressKey {
    width: 100%;
}
.key small {
    position: absolute;
    top:-24px;
    left: 0;
    text-align: center;
    width: 100%;
    color:#fff;
}