@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}
.back {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #767676;
    border: none;
    border-radius: 3px;
    padding: 1px 2px;
    font-weight: 900;
    font-size: 10px;
}
.back:hover {
    background-color: #bcc0bd;
}
.back a {
    color: #ffffff;
    text-decoration: none;
}
body {
    background-color: #575757;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}
.counter {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.counter.hide {
    transform: translate(-50%, -50%) scale(0);
    animation: hide 0.2s ease-out;
}
h4 {
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

@keyframe hide {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        transform: translate(-50%, -50%) scale(0);
    }
}

.final {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: #fff;
}
#play {
    position: fixed;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
}
.final.show {
    transform: translate(-50%, -50%) scale(1);
    animation: show 0.2s ease-out;
}

@keyframes show {
    0% {
        transform: translate(-50%, -50%) scale(0);
    }
    30% {
        transform: translate(-50%, -50%) scale(0.4);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

.nums {
    color: #f1ef63;
    font-size: 3rem;
    position: relative;
    overflow: hidden;
    width: 250px;
    height: 50px;
}
.nums span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(120deg);
    transform-origin: bottom center;
}
.nums span.in {
    transform: translate(-50%, -50%) rotate(0deg);
    animation: goIn 01s ease-in-out;
}
.nums span.out {
    animation: goOut 1s ease-in-out;
}

@keyframes goIn {
    0% {
        transform: translate(-50%, -50%) rotate(120deg);
    }
    30% {
        transform: translate(-50%, -50%) rotate(-40deg);
    }
    60% {
        transform: translate(-50%, -50%) rotate(10deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}
@keyframes goOut {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    60% {
        transform: translate(-50%, -50%) rotate(20deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(-120deg);
    }
}
