@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,700&display=swap');
* {
    box-sizing: border-box;
}
body {
    background-color: #d6d2d2;
}
.main-container {
    display: flex;
    flex-direction: column;
    margin: 50px;
    font-family: 'Playfair Display', serif;
}
.main-container h1 {
    font-weight: 500;
}
.main-container ul {
    list-style: none;
}
.main-container a {
    text-decoration: none;
    color: #6473c0;
}
.main-container a:hover {
    color: #defd61;
}
.main-container li {
    margin-bottom: 5px;
}
