* {
    box-sizing: border-box;
}
.back {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #605e5e;
    border: none;
    border-radius: 3px;
    padding: 1px 2px;
    font-weight: 900;
    font-size: 10px;
}
.back:hover {
    background-color: #bcc0bd;
}
.back a {
    color: #ffffff;
    text-decoration: none;
}
body {
    background-color: #c2eeee;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
img {
    max-width: 100%;
}
.card {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    width: 350px;
}
.card-header {
    height: 200px;
}
figure {
    margin: 0;
    padding: 0;
}
.card-header img {
    object-fit: cover;
    height: 100%;
    max-height: 220px;
    width: 100%;
}
.card-content {
    background-color: #ffffffff;
    padding: 30px;
}
.card-title {
    height: 20px;
    margin: 0;
}
.card-excerpt {
    color: #777777;
    margin: 30px 0px 20px 0px;
}
.author {
    display: flex;
}

.profile-img img {
    border-radius: 50%;
    oveflow: hidden;
    height: 40px;
    width: 40px;
}
.author-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10px;
    width: 100px;
}
.author-info small {
    color: #aaa;
    margin-top: 5px;
}
