@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

* {
    box-sizing: border-box;
}
.back {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #605e5e;
    border: none;
    border-radius: 3px;
    padding: 1px 2px;
    font-weight: 900;
    font-size: 10px;
}
.back:hover {
    background-color: #bcc0bd;
}
.back a {
    color: #ffffff;
    text-decoration: none;
}
body {
    background-color: #241344;
    color: white;
    font-family: 'Muli', sans-serif;
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
}
.toggle-container {
    display: flex;
    align-items: center;
    margin: 10px 0;
    width: 200px;
}
.toggle {
    visibility: hidden;
}
.label {
    position: relative;
    background-color: #d0d0d0;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    margin: 0 15px 0;
    width: 80px;
    height: 40px;
    transition: background 0.3s ease-in;
}
.toggle:checked + .label {
    background-color: #93ff40;
}
.ball {
    position: absolute;
    background-color: #ffffff;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    top: 3px;
    left: 3px;
    align-items: center;
    justify-content: center;
    animation: slideOff 0.3s linear forwards;
}
.toggle:checked + .label .ball {
    animation: slideOn 0.3s linear forwards;
}
@keyframes slideOn {
    0% {
        transform: translateX(0) scale(1);
    }
    50% {
        transform: translateX(20px) scale(1.2);
    }
    100% {
        transform: translateX(40px) scale(1);
    }
}
@keyframes slideOff {
    0% {
        transform: translateX(40px) scale(1);
    }
    50% {
        transform: translateX(20px) scale(1.2);
    }
    100% {
        transform: translateX(0px) scale(1);
    }
}
