@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}
body {
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}
.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    align-items: center;
    justify-content: center;
}
.square {
    background-color: #1d1d1d;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    height: 16px;
    width: 16px;
    margin: 2px;
    transition: 2s ease;
}
.square:hover {
    transition-duration: 0s;
}
