@import url('https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap');

* {
    box-sizing: border-box;
}

.back {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #605e5e;
    border: none;
    border-radius: 3px;
    padding: 3px;
}
.back:hover {
    background-color: #bcc0bd;
}
.back a {
    color: #ffffff;
    text-decoration: none;
}
body {
    font-family: 'Zen Loop', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.bg {
    background: url('171916.jpg') no-repeat center center/cover;
    position: absolute;
    top: -30px;
    left: -30px;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index: -1;
    filter: blur(70px);
}
.loading-text {
    font-size: 50px;
    color: lime;
}
