* {
    box-sizing: border-box;
}
.back {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #605e5e;
    border: none;
    border-radius: 3px;
    padding: 1px 2px;
    font-weight: 900;
    font-size: 10px;
}
.back:hover {
    background-color: #bcc0bd;
}
.back a {
    color: #ffffff;
    text-decoration: none;
}
body {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
canvas {
    border: 2px solid #6e6e6e;
}
.toolbox {
    background-color: #91afcafb;
    border: 1px solid #91afcafb;
    display: flex;
    width: 804px;
    padding: 1rem;
}
.toolbox > * {
    background-color: #ffffffff;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    height: 50px;
    width: 50px;
    margin: 0.25rem;
    padding: 0.25rem;
}
.toolbox > *:last-child {
    margin-left: auto;
}
