* {
    box-sizing: border-box;
}
.back {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #605e5e;
    border: none;
    border-radius: 3px;
    padding: 1px 2px;
    font-weight: 900;
    font-size: 10px;
}
.back:hover {
    background-color: #bcc0bd;
}
.back a {
    color: #ffffff;
    text-decoration: none;
}

body {
    background-color: #2c3e50;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.kinetic {
    position: relative;
    height: 80px;
    width: 80px;
}

.kinetic::after,
.kinetic::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-bottom-color: #ffffffff;
}
.kinetic::after {
    transform: rotate(90deg);
    animation: rotateA 3s linear infinite 0.5s;
}
.kinetic::before {
    transform: rotate(0deg);
    animation: rotateB 3s linear infinite;
}
@keyframes rotateA {
    0%,
    25% {
        transform: rotate(0deg);
    }
    50%,
    75% {
        transform: rotat(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes rotateB {
    0%,
    25% {
        transform: rotate(90deg);
    }
    50%,
    75% {
        transform: rotat(270deg);
    }
    100% {
        transform: rotate(450deg);
    }
}
