* {
    box-sizing: border-box;
}
.back {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ff8119;
    border: none;
    border-radius: 3px;
    padding: 1px 2px;
    font-weight: 900;
    font-size: 10px;
}
.back:hover {
    background-color: #bcc0bd;
}
.back a {
    color: #ffffff;
    text-decoration: none;
}
body {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-top: 3rem;
    background-color: #d4f3b4;
}
.add {
    position: fixed;
    top: 1rem;
    right: 1rem;
    background-color: #ff8119;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
.note {
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    margin: 30px 20px;
    height: 400px;
    width: 400px;
}
.note .tools {
    background-color: #ff8119;
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
}
.note .tools button {
    background-color: transparent;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.1rem;
    margin-left: 0.5rem;
}
.note textarea {
    outline: none;
    font-family: inherit;
    font-size: 1.2rem;
    border: none;
    height: 360px;
    width: 100%;
    padding: 20px;
}
.hidden {
    display: none;
}
.main {
    padding: 10px;
}
