@import url('https://fonts.googleapis.com/css?family=Oswald');

* {
    box-sizing: border-box;
}
.back {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #605e5e;
    border: none;
    border-radius: 3px;
    padding: 1px 2px;
    font-weight: 900;
    font-size: 10px;
}
.back:hover {
    background-color: #bcc0bd;
}
.back a {
    color: #ffffff;
    text-decoration: none;
}
body {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    overflow: hidden;
    margin: 0;
}

h3 {
    margin-bottom: 0;
    text-align: center;
}

small {
    display: block;
    margin-bottom: 20px;
    text-align: center;
}
.fa-heart {
    color: red;
}

.loveMe {
    height: 440px;
    width: 300px;
    background: url('./red-flower.jpg') no-repeat center center/cover;
    margin: auto;
    max-width: 100%;
    position: relative;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 14px 28px rgba(0, 0, 0, 0.25);
}
.loveMe .fa-heart {
    position: absolute;
    animation: grow 0.6s linear;
    transform: translate(-50%, -50%) scale(0);
}

@keyframes grow {
    to {
        transform: translate(-50%, -50%) scale(10);
        opacity: 0;
    }
}
