@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}
.back {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #605e5e;
    border: none;
    border-radius: 3px;
    padding: 3px;
}
.back:hover {
    background-color: #bcc0bd;
}
.back a {
    color: #ffffff;
    text-decoration: none;
}
body {
    background-color: lightgreen;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
    justify-content: center;
    height: 100vh;
}

.btn {
    background-color: #fff;
    border: none;
    border-radius: 10px;
    margin: 1rem;
    padding: 1rem 3rem;
    font-size: 1rem;
    cursor: pointer;
}
.btn:hover {
    opacity: 0.8;
}
.btn:focus {
    outline: none;
}
